<div class="wrapper mat-typography" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="55px" fxLayout.gt-md="row" fxLayoutGap.gt-md="92px" fxLayoutAlign.gt-md="start start">
  <div fxFlex class="container">
    <h3 class="primary font-display">My portfolio is in light — but all the thinking happens in dark:</h3>
    <h3 class="accent font-display">terminal open, cursor blinking, brain fully ON.</h3>
    <section>
      <p class="counter-title">⏳  Coding has been my focus for:</p>
      <div class="counter" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutAlign.gt-md="start center">
        <div>
          <p class="count">05</p>
          <p class="label">Years</p>
        </div><span>:</span>
        <div>
          <p class="count">05</p>
          <p class="label">Months</p>
        </div><span>:</span>
        <div>
          <p class="count">05</p>
          <p class="label">Days</p>
        </div><span>:</span>
        <div>
          <p class="count">05</p>
          <p class="label">Hours</p>
        </div>
      </div>
    </section>
  </div>
  <div fxHide.xs>
    <img class="image" src="assets/images/phone.png" alt="a cellphone" width="340" height="692" />
  </div>
</div>