@use 'stylesheets/colors.scss' as *;
@use 'stylesheets/media-mixins.scss' as *;

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.wrapper {
  padding-top: 72px;
  min-height: 100vh;
  font-family: 'Funnel Display';
}

.counter-title {
  color: mat-color($grey);
  font-size: 24px;
  margin: 92px 0 24px;
}

.counter {

  span,
  .count {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 4px;
    text-align: center;
    line-height: 32px;
  }

  span {
    align-self: flex-start !important;
  }

  .label {
    color: mat-color($grey);
    font-size: 12px;
    margin: 0;
    line-height: 12px;
    text-align: center;
  }
}

@include media-desktop {
  .counter {
    span,
    .count {
      font-size: 64px;
      line-height: 64px;
    }

    .label {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

@include media-mobile-and-tablet {
  .image {
    max-width: 280px;
    height: unset;
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }

  .counter-title {
    font-size: 16px;
    margin: 55px 0 16px;
    text-align: center;
  }
}