<div class="wrapper">
  <h2 class="section-title">01 About me</h2>

  <div fxLayout="column" fxLayoutGap="100px" fxLayoutAlign="center center"
    fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign.gt-md="space-between start">

    <section fxFlex class="text-section">
      <h4>
        My name is Mina Soleimanzadeh. I’ve always loved coding, painting, and designing – so it’s no surprise
        <strong>frontend development</strong> became my playground.
        I followed my dreams (and countless tutorials) to learn everything I needed,
        eventually building multiple projects, including this portfolio you’re browsing right now.
        These days, you’ll find me crafting shiny new features and pages with <strong>Angular</strong>,
        <strong>React.js</strong>, and <strong>JavaScript</strong> at Myket. Before that, I spent my days at Trustply,
        turning web designs into pixel-perfect realities – one div at a time.
      </h4>
      <h4> Wondering how my journey’s been going? Check it out here:</h4>
      <div>
        <button mat-button mat-flat-button color="primary" class="rounded-btn mr-16">My Work</button>
        <button mat-button mat-stroked-button class="rounded-btn black-stroked">My Resume</button>
      </div>
    </section>

    <section class="mt">
      <h5 class="skills-title bold font-display">I fluently speak in:</h5>
      <div class="skills">
        <div *ngFor="let skill of [].constructor(16); let i = index">
          <img [src]="'assets/images/skills/s' + (i+1) + '.png'" />        
        </div>
      </div>
    </section>

  </div>
</div>