@import './../../../assets/stylesheets/theming.scss';

.a-wrapper {
  height: 100vh;
}

.skills {

  &>div {
    width: 45px;
    height: 45px;
  }

  img {
    width: 100%;
    margin: 5px;
  }
}

h2 {
  margin-bottom: 0 !important;
}

.title-border.short {
  width: 50px;
  margin-right: 10px;
}

.title-border.long {
  width: 200px;
  margin-left: 10px;
}