@import './../../../assets/stylesheets/theming.scss';

.a-wrapper {
  padding: 320px 0 170px;
  text-align: justify;
}

.skills {

  &>div {
    width: 45px;
    height: 45px;
  }

  img {
    width: 100%;
    margin: 5px;
  }
}

.skill {
  border-radius: 10px;
  padding: 7px 17px;
  margin: 5px;
  font-size: 16px;
  background-color: mat-color($md-dark);
}

.mt {
  margin-top: -48px;
}