<div class="a-wrapper mat-typography" fxLayout="column" fxLayoutGap="40px">
<div fxLayoutAlign="start center">
  <span class="num">01.</span>
  <h2>About Me</h2>
  <div class="title-border long"></div>
</div>

<div fxLayout="column" fxLayoutAlign="space-between start" fxLayout.gt-xs="row">

  <section fxFlex="60%" >
    <h4>
      I love writing codes as well as painting and designing, so my interest in front-end development raised from these
      two interests of mine. I followed my dreams and learned all I needed. So I did multiple projects including this
      portfolio website.
      Currently you can find me creating new features and pages mainly using Angular, JavaScript and Typescript at
      Myket.
      Prior to Myket, I was busy bringing web designs pixel by pixel into life at Trustply.
    </h4>
    <h4> You can also view my resume’ from
      <a href="https://drive.google.com/file/d/157Ym41LstP3nlW6zQRgIq80g8Q4_VtDJ/view" class="code"
        target="_blank">here</a>.
    </h4>
  </section>

  <section fxFlex="30%" >
    <h4 class="bold">I can speak in:</h4>
    <div fxLayout="row wrap">
      <div class="skill" *ngFor="let skill of skills">{{skill}}</div>
    </div>
  </section>

</div>
</div>