<div id="contact" class="c-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutAlign="center center">
    <div class="title-border short"></div>
    <h2 class="c-title">Contact me</h2>
    <div class="title-border short"></div>
  </div>
  <h3 class="md-white">Currently I'm open to new opportunities and projects, so let me know when to start!</h3>
  <button mat-button class="prim-btn">Let's talk!</button>
  <div fxLayoutGap="6px" class="socials">
    <a href="https://www.linkedin.com/in/msol98/" target="_blank"><img src="./../../../assets/images/linkedin.svg"
        alt="linkedin" /></a>
    <a href="mailto:mina.soleimanzadeh@gmail.com"><img src="./../../../assets/images/gmail.svg" alt="gmail" /></a>
    <a href="https://github.com/msol98" target="_blank"><img src="./../../../assets/images/github.svg"
        alt="github" /></a>
    <a href="https://api.whatsapp.com/send?phone=989396453235"><img src="./../../../assets/images/whatsapp.svg"
        alt="whatsapp" /></a>
  </div>

</div>