@import 'stylesheets/colors.scss';
@import 'stylesheets/media-mixins.scss';


.wrapper {
  display: flex;
  flex-direction: row;
  margin: 150px 0  170px;
}

.text-secondary {
  color: mat-color($grey);
  font-size: 20px;
  margin: 0;
}

.socials a {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 20px;
  color: #000;
  background-color: #ebebeb;
  margin-bottom: 12px;

  img {
    margin: 0 8px 0;

    &.link {
      filter: brightness(0);
    }

    &.light {
      display: none;
    }
  }

  p {
    margin: 0;
  }

  &:hover {
    color: #fff;
    background-color: mat-color($primary);

    img {
      &.link {
        filter: none;
      }

      &.light {
        display: block;
      }

      &.dark {
        display: none;
      }
    }
  }
}

@include media-mobile-and-tablet {
  .wrapper {
    max-width: 364px;
    margin: 0 auto 100px;
    flex-direction: column;
    gap: 20px;
  }

  .text-secondary {
    font-size: 17px;
  }
}

@include media-desktop {
  .wrapper {
    gap: 240px;
    justify-content: space-between;
  }

  .socials {
    width: 100%;
    max-width: 364px;
  }
}