<div class="wrapper">
  <div>
    <h2 class="section-title">04 Contact me</h2>
    <h3 class="text-secondary">Currently I'm open to new opportunities and projects, so let me know when to start!</h3>
  </div>

  <div class="socials">
    <a href="mailto:mina.soleimanzadeh@gmail.com" id="gmail">
      <img src="./../../../assets/images/gmail.svg" alt="gmail" width="24" height="24" class="light" />
      <img src="./../../../assets/images/gmail-dark.svg" alt="gmail" width="24" height="24" class="dark" />
      <p fxFlex>Gmail</p>
      <img src="./../../../assets/images/link-white.svg" alt="link" width="20" height="20" />
    </a>
    <a href="https://www.linkedin.com/in/msol98/" target="_blank" id="linkedin">
      <img src="./../../../assets/images/linkedin.png" alt="linkedin" width="24" height="24" class="light" />
      <img src="./../../../assets/images/linkedin-dark.png" alt="linkedin" width="24" height="24" class="dark" />
      <p fxFlex>LinkedIn</p>
      <img src="./../../../assets/images/link-white.svg" alt="link" width="20" height="20" />
    </a>
    <a href="https://github.com/msol98" target="_blank" id="github">
      <img src="./../../../assets/images/github-white.svg" alt="github" width="24" height="24" class="light" />
      <img src="./../../../assets/images/github.svg" alt="github" width="24" height="24" class="dark" />
      <p fxFlex>GitHub</p>
      <img src="./../../../assets/images/link-white.svg" alt="link" width="20" height="20" />
    </a>
  </div>
</div>