<div #header class="w-100 fixed">
  <mat-toolbar fxLayoutAlign="space-between center">
    <div class="logo showUpEl">
      <img src="./../../../assets/images/logo.JPG" alt="logo" />
    </div>
    <div fxHide.xs fxLayoutGap="30px" class="h-options">
      <a mat-button class="fallingDownEl or4" href="#about">About</a>
      <a mat-button class="fallingDownEl or3" href="#education">Education</a>
      <a mat-button class="fallingDownEl or2" href="#work">Work</a>
      <a mat-button class="fallingDownEl or1" href="#contact">Contact</a>
    </div>
    <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="menu">
      <img src="./../../../assets/images/menu.svg" class="menu-icon" alt="menu" />
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="#about">About</a>
      <a mat-menu-item href="#education">Education</a>
      <a mat-menu-item href="#work">Work</a>
      <a mat-menu-item href="#contact">Contact</a>
    </mat-menu>
  </mat-toolbar>
</div>