<div #header class="w-100 fixed">
  <mat-toolbar fxLayoutAlign="space-between center">
    <a class="logo showUpEl" href="#">Mina Sol</a>
    <div fxHide.xs fxLayoutGap="30px" class="h-options">
      <a mat-button class="fallingDownEl or4" href="#about" id="headerAbout">About</a>
      <a mat-button class="fallingDownEl or3" href="#education" id="headerEucation">Education</a>
      <a mat-button class="fallingDownEl or2" href="#work" id="headerWork">Work</a>
      <a mat-button class="fallingDownEl or1" href="#contact" id="headerContact">Contact</a>
    </div>
    <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="menu" id="menu">
      <img src="./../../../assets/images/menu.svg" class="menu-icon" alt="menu" />
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="#about" id="menuAbout">About</a>
      <a mat-menu-item href="#education" id="menuEducation">Education</a>
      <a mat-menu-item href="#work" id="menuWork">Work</a>
      <a mat-menu-item href="#contact" id="menuContact">Contact</a>
    </mat-menu>
  </mat-toolbar>
</div>