@import './../../../assets/stylesheets/theming.scss';
@import './../../../assets/stylesheets/media-mixins.scss';

.mat-toolbar {
  padding: 0 30px;
  max-width: 1260px;
  margin: 0 auto;
  background-color: #212121c2;
  backdrop-filter: blur(10px);
}

.logo {
  font-family: Logo;
  font-size: 30px;
  color: mat-color($white);
}

.h-options a {
  background-color: transparent;
  color: mat-color($white);
  border: none;
  outline: none;
  padding: 0;
  font-size: 18px;

  &:hover {
    color: mat-color($primary);
  }
}

::ng-deep .mat-menu-panel {
  background-color: mat-color($md-dark);
}

::ng-deep .mat-menu-item {
  color: mat-color($white) !important;
}

.menu-icon {
  width: 20px;
}

.h-hide {
  top: -65px;
  transition: 200ms;
}

.h-show {
  top: 0;
  z-index: 3;
  transition: 400ms;
}

.or1 {
  animation-duration: 0.8s;
}

.or2 {
  animation-delay: 300ms;
  animation-duration: 0.8s;
}

.or3 {
  animation-delay: 600ms;
  animation-duration: 0.8s;
}

.or4 {
  animation-delay: 900ms;
  animation-duration: 0.8s;
}

@include media-mobile {
  .logo {
    font-size: 22px;
  }

  .mat-toolbar {
    height: 45px;
    padding: 0 20px;
  }
}