@import 'stylesheets/colors.scss';
@import 'stylesheets/media-mixins.scss';

.banner {
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: top;
}

.dialog-header {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(#0000005d, transparent);

  &.blur {
    backdrop-filter: blur(2px);
  }
}

.back-btn {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 8px;
}

.work-details {
  font-size: 15px;
  color: mat-color($grey);
  margin: 0;
}

.work-tech {
  margin-top: 40px;
}

.work-tech p {
  margin: 0 8px 0 0;
  font-size: 16px;
  font-weight: 500;
  display: inline;
}

.work-tech span {
  font-size: 16px;
  margin: 0 8px 8px 0;
  color: mat-color($grey);
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  padding: 0 8px;
  height: 29px;
  line-height: 29px;
  display: inline-block;
}

.work-desc {
  font-size: 15px;
  margin: 15px 0;
}

.work-gallery {
  max-width: 100%;
  margin: 10px 0;
  border-radius: 12px;
  max-height: 500px;
  object-fit: contain;
  text-align: center;
}

@include media-mobile-and-tablet {
  .work-tech span {
    font-size: 14px;
  }
}