<div class="e-wrapper" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.gt-xs="70px">
  <div fxLayoutAlign="center center">
    <div fxFlex.xs class="title-border short"></div>
    <span class="num">02.</span>
    <h2>Education<span fxHide.xs> and Certificates</span></h2>
    <div fxFlex.xs class="title-border short"></div>
  </div>

  <div fxLayoutAlign="center center" fxLayoutGap="20px" fxLayoutGap.gt-sm="40px" fxLayout="column" fxLayout.gt-sm="row" style="width: 100%">
    <div class="card">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="name">
        <img src="./../../../assets/images/degree.png" class="badge" alt="degree" />
        <p>Electrical Engineering BSc.</p>
      </div><br />
      <p>Iran University of Science and Technology</p>
      <p class="date">2016 - 2021</p>
    </div>

    <div class="card">
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center" class="name">
        <img src="./../../../assets/images/badge.png" class="badge" alt="badge" />
        <p>Interactivity with JavaScript</p>
        <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/7KM5VMQTH9D9" style="height: 20px;">
          <img class="e-link" src="./../../../assets/images/link.svg" />
        </a>
      </div><br />
      <p>University of Michigan (Coursera)</p>
      <p class="date">July 2020</p>
    </div>

    <div class="card">
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center" class="name">
        <img src="./../../../assets/images/badge.png" class="badge" alt="badge" />
        <p>Introduction to HTML5</p>
        <a target="_blank" href="https://www.coursera.org/account/accomplishments/verify/67L839VPYNKT" style="height: 20px;">
          <img class="e-link" src="./../../../assets/images/link.svg" />
        </a>
      </div><br />
      <p>University of Michigan (Coursera)</p>
      <p class="date">July 2020</p>
    </div>
  </div>

</div>