@import 'stylesheets/colors.scss';
@import 'stylesheets/media-mixins.scss';

.section-title {
  margin-bottom: 32px;
}

.wrapper {
  padding: 100px 0;
}

.card {
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #D7D7D7;

  .img-cover {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .title img {
    filter: brightness(0);
  }

  &:hover {
    .img-cover {
      background: linear-gradient(#6541A620, #6441a6a6) !important;
    }

    .text-section * {
      color: mat-color($primary) !important;
    }

    .title img {
      filter: none;
    }
  }
}

.text-section {
  padding: 24px;
  background-color: #F2F0F4;

  p {
    margin: 0;
    font-weight: 500;
  }
}

.title {
  font-size: 20px;
  font-family: 'Funnel Display';
}

a.title {
  color: #000;
  text-decoration: underline;
}

.source {
  font-size: 15px;
  margin: 8px 0 !important;
}

.date {
  font-size: 15px;
}

.img {
  height: 155px;
  object-fit: cover;
}

.link {
  width: 20px;
}

@include media-tablet {
  .img {
    height: 171px;
  }
}

@include media-desktop {

  .title {
    font-size: 24px;
  }

  .source {
    font-size: 17px;
  }

  .date {
    font-size: 17px;
  }

  .img {
    height: 203px;
  }

  .section-title {
    margin-bottom: 64px;
  }
}