@import './../../../assets/stylesheets/theming.scss';
@import './../../../assets/stylesheets/media-mixins.scss';

.e-wrapper {
  height: max-content;
  padding: 170px 0;
}

.name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: mat-color($white);

  p {
    margin: 0;
  }
}

.date {
  font-size: 16px;
  margin-top: 20px;
}

.card {
  border-radius: 10px;
  width: 365px;
  border-radius: 12px;
  box-sizing: border-box;
  color: mat-color($md-white);
  background: mat-color($md-dark);
  padding: 25px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -15px;
  background: mat-color($primary);
  height: 290px;
  width: 15px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before{
  transform: scale(50);
}

.card:hover {
  * {
  color: mat-color($dark);
  }

  .e-link {
    filter: brightness(0);
  }
}

p {
  line-height: 1.5;
}

.badge {
  width: 36px;
}

.e-link {
  width: 20px;
}

@include media-large {
  .card {
    height: 290px;
  }
}

@include media-mobile {
  .name p {
    font-size: 18px !important;
  }

  .e-wrapper {
    padding: 150px 0 0;
  }
}