<div class="e-wrapper" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="70px">
  <div fxLayoutAlign="center center">
    <div class="title-border short"></div>
    <span class="num">02.</span>
    <h2>Education and Certificates</h2>
    <div class="title-border short"></div>
  </div>

  <div fxLayoutAlign="center center" fxLayoutGap="40px" fxLayout="column" fxLayout.gt-xs="row" style="width: 100%">
    <a class="card" href="#"
      target="_blank">
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <!-- <img src="./../../assets/images/certificate.png" class="badge" /> -->
        <p class="name">Electrical Engineering</p>
      </div><br />
      <p>Iran University of Science and Technology</p>
      <p class="date">2016 - 2021</p>
    </a>

    <a class="card" target="_blank" href="https://www.coursera.org/account/accomplishments/verify/7KM5VMQTH9D9?utm_campaign=sharing_cta&utm_content=cert_image&utm_medium=certificate&utm_product=course&utm_source=link">
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <!-- <img src="./../../assets/images/certificate.png" class="badge" /> -->
        <p class="name">Interactivity with JavaScript</p>
      </div><br />
      <p>University of Michigan (Coursera)</p>
      <p class="date">2020</p>
    </a>

    <a class="card" href="https://www.coursera.org/account/accomplishments/certificate/67L839VPYNKT" target="_blank">
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <!-- <img src="./../../assets/images/certificate.png" class="badge" /> -->
        <p class="name">Introduction to HTML5</p>
      </div><br />
      <p>University of Michigan (Coursera)</p>
      <p class="date">2020</p>
    </a>
  </div>

</div>