@import './../../../assets/stylesheets/theming.scss';

.e-wrapper {
  height: max-content;
  padding: 170px 0;
}

.box {
  width: 320px;
  height: 290px;
  font-size: 18px;
  padding: 25px;
  transition: 0.3s;
  border-radius: 12px;
  box-sizing: border-box;
  color: mat-color($md-white);
  background: mat-color($md-dark);
}

.name {
  transition: 0.3s;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: mat-color($white);
}

.date {
  font-size: 16px;
}

.box:hover {
  margin-top: -20px;

  .name {
    color: mat-color($primary);
  }
}