<div #scrollArea>
  <app-header></app-header>
  <div class="content">
    <!-- <app-intro></app-intro> -->
    <!-- <div #component></div> -->
    <!-- <app-about-me id="about"></app-about-me> -->
    <!-- <div #component></div> -->
    <app-work id="work"></app-work>
    <!-- <div #component></div> -->
    <!-- <app-education id="education"></app-education> -->
    <!-- <div #component></div> -->
    <!-- <app-contact-me id="contact"></app-contact-me> -->
    <!-- <a class="footer" href="https://github.com/msol98/portfolio" target="_blank">Built from scratch with ❤ <br/> © Copyright 2023. Made by <span style="text-decoration: underline;">Mina Soleimanzadeh</span></a> -->
  </div>
</div>