@import 'stylesheets/colors.scss';
@import 'stylesheets/media-mixins.scss';

.content {
  padding: 64px 24px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

@include media-desktop {
  .content {
    padding: 96px 64px 0;
  }
}