@import './../assets/stylesheets/theming.scss';
@import './../assets/stylesheets/media-mixins.scss';

.content {
  padding: 0 35px;
  max-width: 1200px;
  margin: 0 auto;
}

.goingUpEl {
  animation-duration: 1s;
}

@include media-mobile {
  .content {
    padding: 0 25px;
  }
}