@import 'stylesheets/colors.scss';
@import 'stylesheets/media-mixins.scss';

.wrapper {
  height: max-content;
  padding: 170px 0;
  max-width: 1000px;
  margin: 0 auto;

  &,
  * {
    font-family: "Funnel Sans";
  }
}

.wrapper,
.wrapper ::ng-deep {
  .mat-tab-labels {
    width: max-content;

    &::ng-deep * {
      -webkit-tap-highlight-color: transparent;
      font-weight: 600;
      opacity: 1;
      font-size: 14px;
    }
  }

  .mat-tab-header {
    border: none !important;
  }

  .mat-tab-list {
    overflow-x: scroll;
    padding: 0 !important;
  }

  ul {
    padding-left: 20px;
  }

  li {
    padding-left: 3px;
  }

  .mat-tab-body-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include media-mobile {
  .wrapper ::ng-deep .mat-tab-body-content {
    grid-template-columns: 1fr;
  }
}

// @include media-desktop {

//   .wrapper,
//   .wrapper ::ng-deep {
//     *:not(li) {
//       overflow: hidden !important;
//     }

//     .mat-tab-group {
//       flex-direction: row !important;
//     }

//     .mat-tab-labels {
//       flex-direction: column !important;

//       &::ng-deep * {
//         justify-content: flex-start;
//         padding-right: 0;
//         font-size: 18px !important;

//         &:hover {
//           opacity: 1;
//         }
//       }
//     }

//     .mat-tab-label {
//       opacity: 0.5;
//       color: #000 !important;
//     }

//     .mat-tab-label-active {
//       opacity: 1;
//       border-left: 2px solid mat-color($primary) !important;
//     }

//     .mat-tab-body {
//       padding-left: 40px;
//     }

//     .mat-ink-bar {
//       display: none;
//     }

//     h3 {
//       margin-bottom: 10px;
//     }
//   }
// }