@import 'stylesheets/colors.scss';
@import 'stylesheets/media-mixins.scss';

.section-title {
  margin-bottom: 24px !important;
}

.wrapper {
  height: max-content;
  padding: 100px 0;
  margin: 0 auto;

  &,
  * {
    font-family: "Funnel Sans";
  }
}

.wrapper,
.wrapper ::ng-deep {
  .mat-tab-labels {
    width: max-content;

    &::ng-deep * {
      -webkit-tap-highlight-color: transparent;
      font-weight: 600;
      opacity: 1;
      font-size: 14px;
    }

    .mat-tab-label-content {
      font-size: 16px !important;
    }

    .mat-tab-label:not(.mat-tab-label-active)  ::ng-deep .mat-tab-label-content {
      color: mat-color($grey) !important;
      font-weight: 400 !important;
    }
  }

  .mat-tab-header {
    border: none !important;
  }

  .mat-tab-list {
    overflow-x: scroll;
    padding: 0 !important;
  }

  ul {
    padding-left: 20px;
  }

  li {
    padding-left: 3px;
  }

  .mat-tab-body-content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include media-mobile {
  .wrapper ::ng-deep .mat-tab-body-content {
    grid-template-columns: 1fr;
  }
}

@include media-desktop {
  .section-title {
    margin-bottom: 64px !important;
  }

  .mat-tab-group {
    flex-direction: row;
    gap: 40px;
  }

  ::ng-deep .mat-tab-labels {
    flex-direction: column;
  }

  ::ng-deep .mat-tab-label {
    margin-bottom: 10px;
    width: 275px !important;
    justify-content: start !important;
  }

  ::ng-deep .mat-tab-label-active {
    border-left: 3px solid;
    border-color: mat-color($primary) !important;
  }

  ::ng-deep .mat-ink-bar {
    display: none !important;
  }

  ::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 100%;
  }
}