@import 'stylesheets/media-mixins.scss';

.work-card {
  border-radius: 20px;
  aspect-ratio: 1.5 / 1;
  overflow: hidden;
  position: relative;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.dark-cover {
  padding: 20px 16px;
  background: linear-gradient(#00000020, #00000094);
}

.company-name {
  font-size: 15px;
  font-weight: 500;
  margin: 0 8px;
  color: #fff;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin: 8px 8px 28px 8px;
  color: #fff;
}

button {
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  width: 100% !important;

  img {
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
}

@include media-desktop {
  .company-name {
    font-size: 17px;
  }

  .title {
    font-size: 24px;
  }

  button {
    font-size: 22px;
    height: 52px;
    line-height: 52px;
  }
}

.work-card:hover {
  border-radius: 36px;

  .dark-cover {
    background: linear-gradient(#6541A620, #6441a6a6) !important;
  }

  button {
    color: #6541A6 !important;

    img {
      opacity: 1;
      transform: translateX(0);
    }
  }
}