@import './assets/stylesheets/theming.scss';
@import './assets/stylesheets/elements.scss';
@import './assets/stylesheets/fonts.scss';

body {
  margin: 0;
  color: mat-color($white);
  background-color: mat-color($dark);
}

html {
  scroll-behavior: smooth;
}

a {
  color: mat-color($primary);
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
}

.primary {
  color: mat-color($primary) !important;
}

.md-white {
  color: mat-color($md-white) !important;
}

.num {
  color: mat-color($primary);
  margin: 0 8px 13px 0;
  font-family: Code;
  font-size: 18px;
}

.code {
  font-family: Code;
  font-weight: bold;
  color: mat-color($primary);

  &::before {
    content: '<'
  }

  &::after {
    content: '> '
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: mat-color($dark);
}

::-webkit-scrollbar-thumb {
  border: 4px solid mat-color($dark);
  border-radius: 10px;
  background: mat-color($md-dark);
}