@import './assets/stylesheets/colors.scss';
@import './assets/stylesheets/elements.scss';
@import './assets/stylesheets/fonts.scss';
@import './assets/stylesheets/media-mixins.scss';
@import './assets/stylesheets/theming.scss';

body {
  margin: 0;
  color: #000;
  background-color: mat-color($bg);
  font-family: 'Funnel Sans';
  font-size: 20px;
  line-height: 28px;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

a {
  color: mat-color($primary);
  text-decoration: none;
}

.mat-button {
  font-size: 22px;
  font-weight: 600;
  font-family: 'Funnel Sans';
}

::selection {
  color: #000;
  background: #b39ddb86;
}

.w-100 {
  width: 100%;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.fixed {
  position: fixed;
}

.font-display {
  font-family: 'Funnel Display' !important;
}

.primary {
  color: mat-color($primary) !important;
}

.accent {
  color: mat-color($accent) !important;
}

.md-white {
  color: mat-color($md-white) !important;
}

.white {
  color: mat-color($white) !important;
}

.section-title {
  color: mat-color($primary);
  font-family: 'Funnel Display' !important;
  margin: 0 40px 0 0;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 40px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: mat-color($bg);
}

::-webkit-scrollbar-thumb {
  border: 4px solid mat-color($bg);
  border-radius: 10px;
  background: mat-color($bg);
}

.mr-16 {
  margin-right: 16px !important;
}

@include media-mobile-and-tablet {
  .section-title {
    margin: 0 0 20px 0;
    font-size: 24px;
  }

  .mat-button {
    font-size: 18px;
  }
}