@import './assets/stylesheets/theming.scss';
@import './assets/stylesheets/fonts.scss';

body {
  margin: 0;
  color: mat-color($white);
  background-color: mat-color($dark);
}

a {
  color: mat-color($primary);
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.center {
  text-align: center;
}

.fixed {
  position: fixed;
}

.primary {
  color: mat-color($primary) !important;
}

.md-white {
  color: mat-color($md-white) !important;
}

.title-border {
  height: 1px;
  opacity: 0.5;
  background-color: mat-color($primary);
}

.code {
  font-family: Code;
  font-weight: bold;
  color: mat-color($primary);

  &::before {
    content: '<'
  }
  
  &::after {
    content: '> '
  }
}