@import './theming.scss';

.title-border {
  height: 2px;
  opacity: 0.7;
  margin: 0 10px;
  background-color: mat-color($primary);
}

.title-border.short {
  width: 80px;
}

.title-border.long {
  width: 200px;
}

.prim-btn {
  padding: 9px 26px !important;
  border-radius: 12px !important;
  outline: none;
  border: 1px solid mat-color($primary) !important;
  background-color: transparent;
  transition: all .35s;
  position: relative;

  span.mat-button-wrapper {
    z-index: 2;
    font-size: 18px;
    position: relative;
    color: mat-color($primary);
    align-items: center;
    display: flex;
  }

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 11px;
    background: mat-color($primary);
    transition: all .35s;
  }

  &:hover {
    span.mat-button-wrapper {
      color: mat-color($dark);
    }

    &:after {
      width: 100%;
    }
  }
}

.fallingDownEl {
  opacity: 0;
  position: relative;
  animation: fallDown forwards;
}

@keyframes fallDown {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.goingUpEl {
  opacity: 0;
  position: relative;
  animation: goUp forwards;
}

@keyframes goUp {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.showUpEl {
  animation: showUp 2s forwards;
}

@keyframes showUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}