@font-face {
  font-family: Logo;
  font-weight: 400;
  src: url(./../fonts/Caveat.woff);
}

@font-face {
  font-family: Text;
  font-weight: 400;
  src: url(./../fonts/Gantari.woff);
}

@font-face {
  font-family: Text;
  font-weight: bold;
  src: url(./../fonts/Gantari-Bold.woff);
}

@font-face {
  font-family: Code;
  font-weight: 400;
  src: url(./../fonts/Mono.woff);
}