@font-face {
  font-family: Logo;
  font-weight: 400;
  src: url(./../fonts/Caveat.ttf);
}

@font-face {
  font-family: Text;
  font-weight: 400;
  src: url(./../fonts/Gantari.ttf);
}

@font-face {
  font-family: Text;
  font-weight: 500;
  src: url(./../fonts/Gantari-SemiBold.ttf);
}

@font-face {
  font-family: Text;
  font-weight: bold;
  src: url(./../fonts/Gantari-Bold.ttf);
}

@font-face {
  font-family: Code;
  font-weight: 400;
  src: url(./../fonts/Mono.ttf);
}