@use '@angular/material' as mat;
@import '~@angular/material/theming';

$primary: mat.define-palette(mat.$deep-purple-palette, 200);
$accent: mat.define-palette(mat.$cyan-palette, 200);
$dark: mat.define-palette(mat.$grey-palette, 900);
$md-dark: mat.define-palette(mat.$grey-palette, 800);
$white: mat.define-palette(mat.$grey-palette, 200);
$md-white: mat.define-palette(mat.$grey-palette, 400);

$typography: mat.define-typography-config(
  $font-family: Text,

  $headline: mat.define-typography-level(
    $font-size: 53px,
    $font-weight: bold,
  ),
  $title: mat.define-typography-level(
    $font-size: 25px,
    $font-weight: bold,
  ),
  $subheading-2: mat.define-typography-level(
    $font-size: 22px,
    $line-height: 1.6,
    $font-weight: 500,
  ),
  $subheading-1: mat.define-typography-level(
    $font-size: 18px,
    $line-height: 1.6,
  ),
  $body-1: mat.define-typography-level(
    $font-size: 16px,
    $line-height: 1.6,
  ),
  $button: mat.define-typography-level(
    $font-size: 18px,
  ),
);

$theme: mat.define-light-theme((
  typography: $typography,
  color: (
    primary: $primary,
    accent: $accent,
  ),
));

@include mat.core($theme);
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);
